/*****************************************************************************
*        _______       _    _                     _____                      *
*       |__   __|   _ | |  | |                   |  __ \                     *
*          | |     (_)| |__| |                   | |__) |         _          *
*          | | __ _ _ |  __  |_   _ _   _ _ __   |  ___/__ _ _ __| | __      *
*       _  | |/ _` | || |  | | | | | | | | `_ \  | |   / _` | '__| |/ /      *
*      / |_| | (_| | || |  | | |_| | |_| | | | | | |  | (_| | |  |   <       *
*      \____/ \__,_|_||_|  |_|\__  |\__,_|_| |_| |_|   \__,_|_|  |_|\_\      *
*                            ,._/ /                                          *
*      jhyunp@snu.ac.kr      \___/           https://jaihyunp.github.io      *
*                                                                            *
*****************************************************************************/
/*****************************************************************************
MIT License

Copyright (c) 2019-2020 Jai Hyun Park

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*****************************************************************************/

@font-face {
    font-family: 'noto-kor-ii';
    font-weight: normal;
    font-style: normal;
    src:url('/assets/fonts/noto-kor-min/NotoSansKR-Light.woff2') format('woff2'),
    url('/assets/fonts/noto-kor-min/NotoSansKR-Light.woff') format('woff'),
    url('/assets/fonts/noto-kor-min/NotoSansKR-Light.otf') format('opentype');


    /* src:url('/assets/fonts/noto-kor-min/NotoSansKR-Thin.woff2') format('woff2'),
        url('/assets/fonts/noto-kor-min/NotoSansKR-Thin.woff') format('woff'),
        url('/assets/fonts/noto-kor-min/NotoSansKR-Thin.otf') format('opentype'); */
}
@font-face {
    font-family: 'noto-kor-i';
    src:url('/assets/fonts/noto-kor-min/NotoSansKR-DemiLight.woff2') format('woff2'),
    url('/assets/fonts/noto-kor-min/NotoSansKR-DemiLight.woff') format('woff'),
    url('/assets/fonts/noto-kor-min/NotoSansKR-DemiLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto-kor';
    src:url('/assets/fonts/noto-kor-min/NotoSansKR-Regular.woff2') format('woff2'),
        url('/assets/fonts/noto-kor-min/NotoSansKR-Regular.woff') format('woff'),
        url('/assets/fonts/noto-kor-min/NotoSansKR-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto-kor-b';
    /* src:url('/assets/fonts/noto-kor-min/NotoSansKR-Bold.woff2') format('woff2'),
        url('/assets/fonts/noto-kor-min/NotoSansKR-Bold.woff') format('woff'),
        url('/assets/fonts/noto-kor-min/NotoSansKR-Bold.otf') format('opentype'); */
    src:url('/assets/fonts/noto-kor-min/NotoSansKR-Bold.woff2') format('woff2'),
        url('/assets/fonts/noto-kor-min/NotoSansKR-Bold.woff') format('woff'),
        url('/assets/fonts/noto-kor-min/NotoSansKR-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto-eng-ii';
    font-weight: normal;
    font-style: normal;
    src:url('/assets/fonts/poppins/Poppins-ExtraLight.ttf');
    /* src:url('/assets/fonts/noto-sans/NotoSans-ExtraLight.ttf'); */
}
@font-face {
    font-family: 'noto-eng-i';
    /* src:url('/assets/fonts/noto-sans/NotoSans-Light.ttf'); */
    src:url('/assets/fonts/poppins/Poppins-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto-eng';
    /* src:url('/assets/fonts/noto-sans/NotoSans-Regular.ttf'); */
    src:url('/assets/fonts/poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto-eng-b';
    /* src:url('/assets/fonts/noto-sans/NotoSans-Bold.ttf'); */
    src:url('/assets/fonts/poppins/Poppins-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Global Setting */
html, body { color: black; font-family: 'noto-eng','noto-kor' !important; height: 100%; background:white}
* {margin: 0;padding: 0;box-sizing: border-box}
a {text-decoration:none;color:inherit}
b {position:relative!important;font-family: 'noto-eng-b','noto-kor-b'}
img {display:block}

/* Header and Footer */
header,footer {
    z-index: 900;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: no-repeat center fixed;
    background-size: cover;
}
header *{position: absolute}
footer * {position: relative}

/* Overlay */
._overlay{
    z-index: 10;
    position: absolute;
    top:0px;bottom:0px;
    left:0px;right:0px;
}

/* Header */
._see-more {
    position:relative;
    z-index: 999;
    width:100%;
    display:block;
    height: 70px!important;
    top:-70px;
    margin-bottom:-70px;
    font-family: 'noto-eng-i','noto-kor-i';
    font-size: 11pt;
    text-align: center;
    color: #ffffff;
    background: rgba(0,0,0,0);
    cursor: pointer;
    transition:0.2s ease-in-out;
    overflow:hidden;

    animation: wiggle;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}
._see-more:hover {
    background: rgba(0,0,0,0.5);
    transition:0.2s ease-in-out;
}
._see-more div{
    position: relative;
    margin-top:10px;
}
._see-more img{
    position:relative;
    margin:auto;
    width:15px;
    height:10px;
    margin-top:12px
}

._profile {
    z-index:20;
    position:absolute;
    bottom:80px;
    left:70px;
    color:white;
    display:flex;
    width:900px;
}
._profile > a {
    /* min-width: 200px; */
    position:relative;
    display:inline-block;
    text-align:center;
    text-decoration: none;
    font-family:'noto-eng-ii','noto-kor-ii';
    word-break: keep-all;
    font-size:50pt;
    margin:auto;
}
._profile > p{
    position:relative;
    border-left:white 1px solid;
    padding:0;
    margin:auto;
    margin-left:50px;
    padding-left:50px;
    font-family: 'noto-eng-ii','noto-kor-ii';
    font-size:13pt;
    line-height: 35px;
}

/* Footer */
footer ._footer-line{
    z-index: 20;
    display: block;
    align-items: center;
    padding:0!important;
    /* left:50%;
    transform: translateX(-50%); */
    margin-bottom:30px;
    margin-top:40px;
    margin-bottom:50px;
    margin-top:70px;
    /* top: 50px; */
    text-align:center;
}
footer ._footer-line h1{
    font-family: 'noto-eng-i','noto-kor-i';
    font-size: 10pt!important;
    color: white;
    text-align: center;
    position: relative;
    display: block;
    margin:auto;
    margin-bottom:10px;
}
footer ._footer-line a{
    margin:auto;
    /* font-family: 'noto-eng-i','noto-kor-i'; */
    /* font-weight: 600; */
    /* font-size: 11pt; */
    color: white;
    text-align: center;
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-family:inherit;
    font-size:inherit;
    border-bottom: 1pt solid rgba(0,0,0,0);
    padding-bottom:3px;
    /* margin-bottom:13px; */
    text-align:center;
}
footer ._footer-line a:hover{
    border-bottom:1pt solid rgba(255,255,255,0.8);
    transition: 0.4s ease-in-out;
}
footer ._footer-line p{
    font-family: 'noto-eng-ii','noto-kor-ii';
    font-size: 8pt;
    color: white;
    text-align: center;
    position: relative;
    display: block;
    margin:auto;
}
footer ._goto-top {
    position:absolute;
    top:20px;
    right:5%;
    z-index:999;
    width:45px;
    height:45px;
    line-height:45px;
    border-radius: 45px;
    background: rgba(255, 255, 244, 0.8);
    text-align:center;
    cursor: pointer;
}
footer ._goto-top img{
    width:40%;
    position:absolute;
    left:30%;
    top:15px
}
footer ._goto-top:hover {
    background: rgba(200, 200, 180, 0.8);
}


/* Menubar */
.menubar {
    width:100%;
    margin-top:25px;
    z-index:999;
    display:flex;
    position:absolute;
}
.menubar *{
    position: relative;
}
.menubar .left-menu {
    margin-left:5%;
    margin-right:auto;
}
.menubar .right-menu{
    margin-right:3%;
    margin-left:auto;
}
.menubar .right-menu a {
    margin:auto;
    font-family: 'noto-eng-i','noto-kor-i';
    font-size: 12pt;
    color:white;
    transition:0.2s ease-in-out;
    text-decoration: none;
}
.menubar .right-menu a:hover,
.menubar .right-menu .this-page{
    color:rgb(200,150,120)!important;
    transition:0.2s ease-in-out;
}
.menubar .right-menu .right-menu-menu{
    display:flex;
    position:relative;
}
.menubar .right-menu .right-menu-menu div{
    position:relative;
    margin: auto;
    padding: 5px;
    width:100px;
    height: 50px;
    line-height: 50px;
    border-radius:10px;
    text-align:center;
}
.menubar .right-menu .right-menu-dropmenu,
.menubar .right-menu .right-menu-button{
    display:none;
}


._contents{
    z-index:1;
    width:100%;
    position:relative;
    margin:0;padding:0;
    background-color:none;
    border-bottom:1pt solid  white;
}


/* Start Nav Styles */
._nav-bar {
    z-index:800;
    right: 3%;
    width: 95px;
    font-size: 11pt;
}

._nav-bar-collapse {
    position:absolute;
    top: 0;
    transform: translateY(-50px);
}

._nav-bar-collapse2 {
    position:absolute;
    bottom: 0;
    transform: translateY(10px);
}
._nav-bar-fix {
    position:fixed;
    top: 15px;
}
._nav-bar ._nav-menu {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    list-style-type: none;
    background: none;
}
._nav-bar ._nav-menu > li {
    height: 50px;
    line-height: 50px;
    background: none;
    color: rgba(0,0,0,0.5);
    display:block;
    text-align: center;
    font-family: 'noto-eng-i','noto-kor-i';
    border-radius: 10px;
    cursor: pointer;
}
._nav-bar ._toggle {
    height:45px;
    background-color: rgba(255,255,255,0.2);
    line-height:35px;
    font-family: 'noto-eng','noto-kor';
    font-size: 11pt;
    color:black;
    text-align:center;
    vertical-align: center;
    border-bottom:1pt solid black;
    border-top:5px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity:0;
    transition:0.2s ease-in-out;
    cursor: pointer;
}
._nav-bar ._toggle2 {
    opacity: 0;
    height:5px;
    background-color:black;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    transition:0.2s ease-in-out;
}
._nav-bar:hover ._toggle{
    opacity: 1.0!important;
    background-color:rgba(255,255,255,0.7);
    transition:0.2s ease-in-out;
    transition-delay: 0.8s;
}
._nav-bar:hover ._toggle2{
    opacity: 1.0!important;
    transition:0.2s ease-in-out;
    transition-delay: 0.8s;
}
._nav-bar:hover ._nav-menu{
    /* background-color: rgba(255,255,255,0.7); */
    background-color: rgba(253,253,253,0.8);
}
._nav-bar:hover ._nav-menu > li{
    color: rgba(0,0,0,1);
}

._nav-bar ._nav-menu > li:hover{
    color: rgba(154,154,154,1);
}
._nav-bar ._nav-menu > ._active,
._nav-bar ._nav-menu > ._active:hover{
    opacity: 100%!important;
    background: rgba(50,50,50,1);
    color: #fafafa!important;
}
/* ._nav-bar-collapse .section-updown, ._nav-bar-collapse2 .section-updown{display:none!important} */
.section-updown{position:fixed;right:3%;bottom:20px;width:95px;display:flex;margin-top:5px;z-index:899}
.section-up,
.section-down{
    width:30px;height:25px;
    border-radius:5px;
    background:rgba(24,24,30,0.8);
    margin:auto;
    cursor:pointer;
    color:#fffff4;
    text-align:center;
    font-family: 'noto-eng','noto-kor';
}
.section-top{
    width:25px;height:25px;
    border-radius:5px;
    background:rgba(24,24,30,0.6);
    margin:auto;
    cursor:pointer;
    color:#fffff4;
    text-align:center;
    font-family: 'noto-eng','noto-kor';
}

.section-up{
    margin-left:0;
}
.section-down{
    margin-right:0;
}


._content-section {
    z-index: 0;
    position: relative;
    height: auto;
    width:100%;
    display:block;
    padding-top:50px;
    padding-bottom:40px;
}
._content-section * {
    position: relative;
    font-family: 'noto-eng','noto-kor';
}


/* Section Layout */
.narrow-piece{
    width:550px!important;
    margin:auto;
    margin-bottom:80px;
    display:block;
}
.big-piece{
    width:740px!important;
    margin:auto;
    margin-bottom:80px;
    display:block;
}
.wider-piece{
    width:950px!important;
    margin:auto;
    margin-bottom:80px;
    display:block;
}
.wide-piece{
    width:850px!important;
    margin:auto;
    margin-bottom:80px;
    display:block;
}



.flex_r-block,
.flex-block {
    display:flex;
    align-content: center;
    justify-content: space-between;
    margin:auto;
    overflow: auto;
}
.flex-block{flex-direction: row;}
.flex_r-block{flex-direction: row-reverse;}
.flex-block h1 {text-align:left;}
.flex-block p {text-align:right;}
.flex_r-block h1 {text-align:right;}
.flex_r-block p {text-align:left;}

.flex_r-block > *,
.flex-block > * {
    align-self: center;
    padding:0;
    margin:auto 40px;
}

.grid-3-2-ul,
.grid-3-1-ul {
    width:100%;
    display:grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.grid-3-2-ul > li{
    margin:0;
}
.grid-3-1-ul > li{
    margin:5px auto ;
    display: block;
    width: 90%;
    padding-left: 20px;
    border-left: 3px gray solid;
}
.grid-3-1-ul > li h1 {
    font-family: 'noto-eng','noto-kor';
    font-size: 12pt;
    position: relative;
    margin:auto;
    margin-left:0;
}
.grid-3-1-ul > li p {
    font-family: 'noto-eng-i','noto-kor-i';
    font-size: 12pt;
    position: relative;
    margin:auto;
    margin-right:0;
}


.fixed {position:fixed;z-index:0}
@media screen and (max-width: 700px) {
    .grid-3-1-ul {
        display:block!important;
    }
}
@media screen and (max-width: 1000px) {

    .menubar .right-menu .right-menu-menu{
        display:none;
    }
    .menubar .right-menu .right-menu-dropmenu{
        position: relative;
        margin: auto;
        padding: 5px;
        display:block;
        border-radius:10px;
        background-color: rgba(255,255,255,0.9);
        display:none;
    }
    .menubar .right-menu .right-menu-dropmenu div{
        position: relative;
        height: 80px;
        line-height: 80px;
        width:120px;
        margin:auto;
        text-align: center;
    }
    .menubar .right-menu .right-menu-dropmenu a {
        /* color:rgb(42,42,35); */
        color:rgb(42,42,42);
    }
    .menubar .right-menu .right-menu-button{
        position:relative;
        padding:5px;
        padding-top:10px;
        padding-bottom:10px;
        line-height: 50px;
        text-align:center;
        display:block;
        width:40px;
        height:40px;
        margin: auto;
        margin-right:0px;
        cursor:pointer;
    }
  

    ._profile {
        position: relative;
        padding-top:180px;
        bottom:0;
        left:0;
        margin:auto;
        padding-bottom:80px;
        width:100%;
        display:block;
    }
    ._profile > a{
        font-size: 40pt;
        width:100%;
        right:50%;
        transform: translateX(50%);
        text-align:center;
    }
    ._profile > p{
        width: 75%;
        border: none;
        border-top:white 1px solid;
        margin:auto;
        padding:0;
        margin-top:15px;
        padding-top:15px;
        line-height:25px;
        text-align:center;
        /* font-size:10pt; */
    }


    .big-piece {
        width:74%!important;
    }
    .wider-piece{
        width:95%!important;
    }
    .wide-piece{
        width:85%!important;
    }
    .narrow-piece{
        width:55%!important;
    }

    .flex_r-block,
    .flex-block {
        display:block!important;
        text-align: center;
        /* align-items: center; */
    }
    .flex_r-block *,
    .flex-block *{
        text-align:left!important;
        margin-left:auto!important;
        margin-right:auto!important;
        /* font-size:13pt!important; */
    }
    .flex_r-block h1,
    .flex-block h1{
        /* font-size:18pt!important; */
        text-align:center!important;
    }

    .grid-3-2-ul,
    .grid-3-1-ul {
        display:grid;
        grid-template-columns: 50% 50%!important;
    }
    .load-post-footer .post-footer-name {text-align:center!important;margin-top:10px}
}
@keyframes wiggle {
    0% {
        padding-top:0px;
    }
    50% {
        padding-top:10px;
    }
    100% {
        padding-top:0px;
    }
}


.post-head {background-color:none;border-bottom:1pt solid gray;background-color:rgb(24,24,32);background-attachment: local;}
.post-head .post-info *{position:relative}
/* .post-head .post-info {position:relative;margin-top:130px;z-index:900;text-align:left;margin-bottom:20px} */
.post-head .post-info {position:absolute;z-index:900;text-align:left;top:50%;right:50%;transform:translate(50%,-50%)}
.post-head .post-publish {position:relative;text-align:left;margin:0;margin-right:auto;font-family:'noto-eng','noto-kor';font-size:11pt;color:white;text-align:center}
.post-head .post-publish a {color:inherit;text-decoration:none;font-family:inherit;font-size:inherit}
.post-head .post-title {position:relative;font-family:'noto-eng-b','noto-kor-b';font-size:32pt;padding:0;margin:0px;color:white;text-align:center;word-break: normal;}
.post-head .post-keywords {position:relative;list-style-type:none;margin:0px 0px;padding:0;padding-top:5px;width:100%;display:inline-block;text-align:center}
.post-head .post-keyword {position:relative;background-color:rgba(240,240,210,0.4);border-radius:5px;padding:0px 6px;padding-bottom:2px;
    margin:0px;margin-right:5px;display:inline-block}
.post-head .post-keyword a {color:rgb(230,230,215);font-family:'noto-eng','noto-kor';font-size:10pt;text-decoration:none}
.post-head .post-update {position:relative;text-align:left;margin:0;margin-top:10px;font-family:'noto-eng-ii','noto-kor-ii';font-size:9pt;color:white;text-align:center} 

@media screen and (max-width: 1000px) {
    .post-head .post-title {font-size:24pt}
}

/* .post-section {z-index: 0;position: relative;height:auto;display:block}
.post-section *, .post-subsection * {position:relative;font-family:'noto-eng','noto-kor';line-height:1.7;text-align:left}
.post-section hr {border:none;border-top:1px solid black;width:20%;opacity:0.5;margin:auto;margin-bottom:50px}
.post-section > h1 {font-family: 'noto-eng','noto-kor';font-size:32pt;margin:auto;text-align:left;margin-bottom:30px}
.post-section * {font-family: 'noto-eng','noto-kor';text-align:left;font-size:12pt;padding-bottom:5px;margin-bottom:15px;display:block}
.post-subsection {margin-bottom:45px}
.post-subsection * {font-family: 'noto-eng','noto-kor';text-align:left;font-size:12pt;padding-bottom:5px;margin-bottom:15px;display:block}
.post-subsection b {display:inline-block;margin-bottom:0;padding-bottom:0;font-size:inherit;}
.post-subsection h1 {font-family: 'noto-eng-b','noto-kor-b';text-align:left;font-size:15pt;padding-bottom: 0px;margin-bottom:10px;display: inline-block}
.post-section a, .post-subsection a {padding-bottom:0;margin-bottom:0;display:inline-block;color:inherit;font-size:inherit;font-family:inherit;text-decoration: none;border-bottom: dashed 1pt rgba(0,0,0,0.6)} */

.post-body{width:100%}
.post-body, .post-body *{position:relative;display:block;text-decoration:none;font-size:12pt;font-family:'noto-eng','noto-kor';line-height:1.7;text-align:justify;padding:0;margin:0 auto;color:black}
.post-body a {display:inline-block;font-size:inherit;font-family:inherit;color:inherit;border-bottom: dashed 1pt rgba(0,0,0,0.6)}
.post-body b {display:inline-block;font-size:inherit;font-family:'noto-eng-b','noto-kor-b'}
.post-body section{margin:50px auto}
.post-body h1 {display:block;font-size:25pt;font-family:'noto-eng-b','noto-kor-b';margin-bottom:10px;margin-top:30px}
.post-body h2 {display:block;font-size:25pt;font-family:'noto-eng','noto-kor';margin-bottom:10px;margin-top:30px}
.post-body h3 {display:block;font-size:18pt;font-family:'noto-eng','noto-kor';margin-bottom:10px;margin-top:25px}
.post-body h4 {display:block;font-size:18pt;font-family:'noto-eng-i','noto-kor-i';margin-bottom:10px;margin-top:25px}
.post-body h5 {display:block;font-size:13pt;font-family:'noto-eng','noto-kor';margin-bottom:10px;margin-top:20px}
.post-body h6 {display:block;font-size:13pt;font-family:'noto-eng-i','noto-kor-i';margin-bottom:10px;margin-top:20px}
.post-body ol, .post-body ul {margin-left:50px;}
.post-body li {display:list-item;font-size:11pt;font-family:'noto-eng-b','noto-kor-b'}
.post-body ol li {list-style:decimal outside;}
.post-body ul li {list-style:disc outside;}
.post-body p {display:inline-block;font-size:11pt;font-family:'noto-eng','noto-kor';margin-bottom:10px}
.post-body hr {background:none;border:none;margin:0;padding:0;width:100%}
.post-body .post-abstract {margin:40px auto;text-align:left;padding:25px 25px;border-bottom:2px solid gray;border-top:2px solid gray}
.post-body .post-abstract p{color:darkslategray;}
.post-body .post-meta {font-family:'noto-eng-i','noto-kor-i';font-size:10pt}

.related-posts {border-top:1pt solid black}
/* .related-posts > h1 {font-family:"noto-eng-b","noto-kor-b";font-size:20pt;color:black;margin:15px 0px;margin-top:60px;padding-bottom:5px;border-bottom:1pt solid rgba(0,0,0,0.3);display:inline-block} */

/* .fs0{font-size:10pt!important}
.fs1{font-size:12pt!important}
.fs2{font-size:13pt!important}
.fs3{font-size:15pt!important}
.fs4{font-size:32pt!important}

.ffii{font-family:'noto-eng-ii','noto-kor-ii'!important}
.ffi{font-family:'noto-eng-i','noto-kor-i'!important}
.ff{font-family:'noto-eng','noto-kor'!important}
.ffb{font-family:'noto-eng-b','noto-kor-b'!important}

.mb0{margin-bottom:0px!important}
.mb1{margin-bottom:10px!important}
.mb2{margin-bottom:15px!important}
.mb3{margin-bottom:30px!important}
.mb4{margin-bottom:50px!important}
.mb5{margin-bottom:80px!important}

.mt0{margin-top:0px!important}
.mt1{margin-top:10px!important}
.mt2{margin-top:15px!important}
.mt3{margin-top:30px!important}
.mt4{margin-top:50px!important}
.mt5{margin-top:80px!important} */

.post-footer{background-color:white;width:100%;padding:0;margin:0;border-bottom:1pt solid rgb(24,24,32)}

.load-tagged-posts {padding:50px 0px;border-bottom:1pt gray dashed;margin:0 auto}
.load-tagged-posts > h1 {text-decoration:underline;font-family:'noto-eng-b','noto-kor-b';font-size:20pt;text-align:center;color:black;text-transform:uppercase}
.load-tagged-posts > ul {list-style-type:square;list-style-position: outside;}
.load-tagged-posts > ul > li a {font-family:'noto-eng','noto-kor';font-size:12pt;text-align:left;color:black;text-decoration:none;}

/* .load-posts {width:100%;margin-bottom:10px} */
.load-posts {width:100%;list-style-type:none}
.load-posts > li .load-post-title {font-size:15pt;font-family:'noto-eng-b','noto-kor-b';color:red}
.load-posts a {border:none;margin:0;padding:0;color:inherit;text-decoration:none;font-family:inherit;font-size:inherit}
.load-posts > li {padding:10px 10px;margin:0px 10px;}
.load-posts > li:hover {background:rgba(200,255,200,0.8)}
.load-posts > li * {margin:0;padding:0}
.load-posts > li p {font:inherit}
.load-posts > li .post-title {margin:0px 0px!important;padding:0!important;color:black!important;font-family:'noto-eng-b','noto-kor-b'!important;font-size:15pt}
.load-posts > li .post-title:hover {text-decoration:underline;}
.load-posts > li .post-publish {margin:2px 2px!important;padding:0!important;color:black!important;font-family:'noto-eng-ii','noto-kor-ii';font-size:8pt}
.load-posts > li .post-abstract {margin:10px 0px!important;padding:0!important;color:black!important;width:100%!important;font-family:'noto-eng','noto-kor';font-size:11pt;overflow:hidden;word-break:break-all}
.load-posts > li .post-keywords {position:relative;list-style-type:none;margin:0px;padding:0;width:100%;display:inline-block}
.load-posts > li .post-keyword {position:relative;background-color:rgba(200,200,200,0.5);border-radius:5px;padding:0px 3px;padding-bottom:2px;margin:0px 0px;margin-bottom:10px;display:inline-block;border:none}
.load-posts > li .post-keyword a {color:black;font-family:'noto-eng','noto-kor';font-size:9pt}
.load-posts > li .show-post-abstract, .load-posts > li .hide-post-abstract, .load-posts > li .post-link{margin:0px 0px!important;padding:0!important;color:black;font-family:'noto-eng-i','noto-kor-i';font-size:12pt;cursor:pointer}

.load-recent-posts > li {margin-bottom:30px}
.load-recent-posts > li .post-title{font-size:18pt}
.load-recent-posts > li .post-publish{font-family:'noto-eng','noto-kor';font-size:10pt}
.load-recent-posts > li .post-abstract{font-family:'noto-eng-i','noto-kor-i'}

.load-slice-posts > div {display:flex;margin:auto;justify-content:center}
.load-slice-posts > div * {font-family:'noto-eng-ii','noto-kor-ii';font-size:10pt;text-align:center;padding:5px}
.load-slice-posts > div > .first, .load-slice-posts > div > .prev {margin-left:0px;margin-right:10px;cursor:pointer}
.load-slice-posts > div > .next, .load-slice-posts > div > .last {margin-right:0px;margin-left:10px;cursor:pointer}
.load-slice-posts > div > .number{width:45px!important;text-align: center;font-family:'noto-eng-i','noto-kor-i';font-size:11pt;}

/* .maxheight-abstract-ul > li .post-abstract {height:40px;overflow:hidden} */

.post-with-description {background:none!important;border-radius:0!important;}
.post-with-description > li {display:block;border-radius:0px;border-top-right-radius:10px;border-bottom-right-radius:10px;border-left:3px solid darkgray;margin:10px 3px;padding:5px 3px}
.post-with-description > li > div {padding:0px 10px}
.post-with-description > li:hover {background:rgba(24,24,32,0.05)!important}
.post-with-description .description {font-family:'noto-eng','noto-kor';font-size:12pt;color:black;margin:10px 10px;margin-bottom:0px;padding:10px 10px;border-left:3px lightgray solid}